.row {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}
.column1 p{
    font-size: 20px;
    padding-right: 300px;
    margin-bottom: 60px;
}
.column1 {
    flex: 100%;
    padding: 20px;
}
.column2 {
    flex: 30%;
    background-color: white;
    padding: 20px;
}
.voordelen{
    font-size: 20px; 
    padding-right: 300px;
}
/*carousel*/
* {
    box-sizing: border-box;
}

.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 28%;
    height: auto;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
    background: #ED2;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}
@media screen and (max-width: 700px) {
    .column1  p{
        padding-right: 0px;
        margin-bottom: 60px;
    }
    .voordelen {
        padding-right: 0px;
    }
}